<section id="presentacion-wrap" class="presentacion-wrap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>NUESTRA FILOSOFIA</h2>
        <p style="font-weight:200;">El <b>cliente</b> es nuestra <b>prioridad</b>, por lo que constantemente buscamos <b>alinearnos</b> a sus requerimientos para <b>construir ideas</b> que satisfagan sus <b>necesidades.</b> </p>

        <p class="bt" style="float:right;">Cuentanos tu idea y conversemos</p>


        <button class="btn">COTIZA TU PROYECTO</button>
      </div>
    </div>
  </div>
</section>
