<section id="presentacion-wrap" class="presentacion-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-12">
        <h2>ALMUT</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam laborum, ducimus, laboriosam sint dolorum aspernatur libero.</p>
      </div>
      <div class="col-md-6 col-lg-6 col-12">
        <h1>¡Contactanos!</h1>
        <button class="btn">COTIZA TU PROYECTO</button>
      </div>
    </div>
  </div>
</section>
