<section id="services-wrap" class="services-wrap light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">Que podemos hacer por ti?</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam laborum, ducimus, laboriosam sint dolorum aspernatur libero.</p>

            </div>

            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">
                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/service1.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold  "> Landpage </h3>
                        <p class="card-text"> Sitio web simple, utilizadas generalmente para dar a conocer tu; Marca, Producto, Servicio, Entre otros</p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>


            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">

                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services9.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold ">Sitio Web</h3>
                        <p class="card-text">Sitio web con un nivel rico de contenido, utilizadas generalmente para dar a conocer empresas y organizaciones y mostrar todo lo posible de ellas</p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">

                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services10.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold ">Tienda Virtual</h3>
                        <p class="card-text"> Sitio web orientado a la venta de productos, junto con un panel web para administrar todas tus ventas y clientes </p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">


                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services5.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold ">Experiencia E-Learning</h3>
                        <p class="card-text"> Plataforma web interactiva para complementar tu seminario, curso u cualquier otra experiencia educacional </p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4 mb-lg-0">

                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services6.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold  "> Portal Educacional </h3>
                        <p class="card-text"> Plataforma web para el seguimiento de tus alumnos, clases, y cursos</p>
                        <!--  -->
                    </div>


                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4 mb-lg-0">


                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services14.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold">Aplicacion Movil / Web</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4 mb-lg-0 mb-md-0">

                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services15.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold"> Portal organizacion </h3>
                        <p class="card-text">Plataforma web con metodos, procesos y analisis de datos basados en la logica del negocio
                        </p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden  mb-lg-0 mb-md-0">
                    <!-- <div class="card-header p-5 text-center">
                        <i class="eva eva-save-outline"></i>
                    </div> -->
                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services16.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold">Scripting</h3>
                        <p class="card-text">
                          Automatizacion de procesos digitales a medida, con interfaz grafica para utilizarlos
                        </p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div>



        </div>

    </div>

</section>
