.service{
  width: 80%;
  height: 18em;
  background-color: white;
  border-radius: 2em;
  margin-top: 4em;
}

h1{
  margin-bottom: 1em;
  border-radius: 10px;
  height: 10px;
  box-shadow: 0 55px 0 0 blue;
  margin-bottom: 3em;
  width: 12em;
}

h2{
  margin-top: 1em;
  font-weight: bold;
}
