<section class="left-image-wrap p-t-b-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold"> Tus ideas, Nuestra expertis </h2>
                <p> Estamos preparados para cualquier desafio que pueda presentarnos tu caso, y estamos dispuesto a enfrentarlo de la mejor manera, alineandonos con tus objetivos y prioridades </p>

            </div>
            <div class="col-md-6 col-sm-12 mb-5 mb-lg-0 mb-md-0 mt-mb-5 mt-lg-5">

                <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carouselTileItems">
                    <ngu-tile *nguCarouselDef="let item; let i = index">


                        <img class="img-responsive w-100 mb-4" [src]="item.photo" alt="Card image cap">





                    </ngu-tile>

                    <span NguCarouselPrev class="ngu_control_button half-button  leftRs btn btn-circle btn-white btn-shadow" [style.opacity]="myCarousel.isFirst ? 0.5:1"><i
                        class="eva eva-chevron-left-outline"></i></span>
                    <span NguCarouselNext class="ngu_control_button half-button  rightRs btn btn-circle btn-white btn-shadow" [style.opacity]="myCarousel.isLast ? 0.5:1"><i
                        class="eva eva-chevron-right-outline"></i></span>



                </ngu-carousel>

            </div>
            <div class="col-md-5 offset-md-1 col-sm-12">
                <div class="row">


                    <div class="col-md-12 col-sm-6 mb-4">
                        <div class="card">

                            <div class="card-body pt-3 pb-3">

                                <h4 class="card-title font-weight-bold"> Alineamiento estrategico comercial </h4>
                                <p class="m-0"> Es muy importante para nosotros respetar tu estrategia de marketing , por lo que siempre estaremos buscando como alinear nuestro producto con tu estrategia </p>

                            </div>
                        </div>
                    </div>
                    <!-- end of col  -->
                    <div class="col-md-12 col-sm-6 mb-4">
                        <div class="card">

                            <div class="card-body pt-3 pb-3">

                                <h4 class="card-title font-weight-bold"> Enfoque en el usuario </h4>
                                <p class="m-0"> Siempre consideraremos quien usara nuestro producto, para asi poder entregarles el servicio mas intuitivo y adecuado segun sea el usuario </p>

                            </div>
                        </div>
                    </div>
                    <!-- end of col  -->
                    <div class="col-md-12 col-sm-6  mb-lg-0 mb-md-0 mb-sm-0">
                        <div class="card">

                            <div class="card-body pt-3 pb-3">

                                <h4 class="card-title font-weight-bold"> Precios e informacion transparente </h4>
                                <p class="m-0"> Nos encanta hablar con nuestro clientes sobre lo que hacemos y como funciona, por lo que siempre buscaremos que puedan comprender el por que de nuestras decisiones y precios </p>

                            </div>
                        </div>
                    </div>
                    <!-- end of col  -->
                </div>
            </div>
            <!-- end of col6 row -->
        </div>
    </div>
</section>
