.intro1-wrap{
  background: red !important;
}

.overlay{
  background-image: url("https://www.arquitecturaydiseno.es/medio/2019/10/30/salon-con-sofa-de-obra-y-sillon-amarillo-vigas-de-madera_5eb782ae_2000x1315.jpg") !important;
  background-size: cover !important;
}
