.productos-preview-wrap{
  font-size: 1.5em;
  padding: 2em 0;
  height: 600px;
  h2{
    text-align: center;
    font-weight: 800 !important;
    font-size: 1.4em;
  }
  p{
    text-align: center;
  }
  h1{
    font-size: 1.5em;
    color: black !important;
    text-align: center;
    font-weight: 800 !important;
    margin-top: 200px;
  }
  img{
    height: 15em;
    width: auto;
    margin-top: 5em;
    margin-left: 5em;
  }
}
@media (max-width: 600px) {
  .productos-preview-wrap{
    font-size: 1.1em !important;
    .btn{
      width: 80%;
      margin-left: 10%;
    }
    img{
      display: none;
    }
  }
}

#bread-click{
  transition: 0.3s ease;
  &:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
}
