<section id="productos-preview-wrap" class="productos-preview-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-12">
        <h1>NUESTROS PRODUCTOS</h1>
        <h2><span style="font-weight:300">Variedad y sabor en la puerta de tu casa</span></h2>
      </div>
      <div class="col-md-6 col-lg-6 col-12">
        <a [routerLink]='["/tienda"]'><img id="bread-click" src="assets/images/bread.png"></a>
      </div>
    </div>
  </div>
</section>
