<nav id="home-header" [ngClass]="{'header-fixed': isFixed}" class="navbar navbar-expand-lg text-16 ">
    <div class="container">


        <div class="d-flex justify-content-between flex-grow-1 mobile_menu">

            <!-- <a class="navbar-brand d-none d-lg-inline-block" href="#">
    Navbar 6
  </a> -->
            <a class="navbar-brand-two    d-inline-block" href="#">
                <img id="logo" src="assets/images/almut-logo-negro.png" alt="logo">
            </a>
            <div class=" text-right">
                <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                      <i class="eva eva-menu-outline text-30 text-white d-none d-md-block"></i>
                    <span class="navbar-toggler-icon d-block d-md-none">
                        <!-- <i class="eva eva-menu-outline text-30 text-white"></i> -->
                    </span>
                    <span class="navbar-toggler-icon d-block d-md-none">
                        <!-- <i class="eva eva-menu-outline text-30 text-white"></i> -->
                    </span>
                    <span class="navbar-toggler-icon d-block d-md-none">
                        <!-- <i class="eva eva-menu-outline text-30 text-white"></i> -->
                    </span>

                </button>
            </div>
        </div>
        <div class="collapse  navbar-collapse flex-grow-1 text-right" id="collapseExample" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav ml-auto flex-nowrap">
              <!-- drop down menu start -->
              <li class="nav-item">
                <a class="nav-link m-2 menu-item">Servicios</a>
                <!-- First  Drop Down -->
                <ul>
                  <li (click)="hidemenu()" class="nav-item">
                    <a href="#presentacion-wrap" scrollTo="teams-wrap" class="  menu-item" scrollTo="presentacion-wrap">Servicio 1</a>
                  </li>
                  <li (click)="hidemenu()" class="nav-item">
                    <a href="#" scrollTo="testimonials-wrap" class="  menu-item">Servicio 2</a>
                  </li>
                  <li (click)="hidemenu()" class="nav-item">
                    <a href="#" scrollTo="extra-feature-wrap" class="  menu-item">Servicio 3</a>
                  </li>
                </ul>
              </li>
              <!-- drop down menu end -->

                <li (click)="hidemenu()" class="nav-item">
                    <a href="#proyectos-wrap" scrollTo="proyectos-wrap" class="nav-link m-2 menu-item nav-active">Proyectos</a>
                </li>
                <li (click)="hidemenu()" class="nav-item">
                    <a href="#" scrollTo="services-wrap" class="nav-link m-2 menu-item">Sobre nosotros</a>
                </li>



                <li (click)="hidemenu()" class="nav-item">
                    <a href="#" scrollTo="contacts-wrap" class="nav-link m-2 menu-item">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
