<section id="team-wrap" class="team-wrap p-t-b-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12  section-header mb-5">
                <h1 class="font-weight-bold">SOBRE NOSOTROS </h1>
            </div>
        </div>
        <div class="row">
          <div class="col-4 valor-container">
            <div class="valor">
              <img src="assets/images/valores/gestion.PNG">
            </div>
            <h2>EQUIPO</h2>
            <h3>GESTION</h3>
          </div>
          <div class="col-4 valor-container">
            <div class="valor">
              <img src="assets/images/valores/disenno.PNG">
            </div>
            <h2>EQUIPO</h2>
            <h3>DISENNO</h3>
          </div>
          <div class="col-4 valor-container">
            <div class="valor">
              <img src="assets/images/valores/equipo.PNG">
            </div>
            <h2>EQUIPO</h2>
            <h3>FABRICANTES</h3>
          </div>

        </div>
    </div>
</section>
