<section id="team-wrap" class="team-wrap p-t-b-80">
    <div class="container">
        <div class="row">
          <div class="col-12 col-md-4 col-lg-4 col-xl-4 valor-container">
            <div class="valor">
              <img src="assets/images/valores/gestion.PNG">
            </div>
            <h2>EQUIPO</h2>
            <h3>GESTION</h3>
            <p>Nos preocupamos por la gestion de nuestros recursos,  junto a nuestra expertis, estamos buscando constantemente la mejor forma de llevar a cabo tu proyecto</p>
          </div>
          <div class="col-12 col-md-4 col-lg-4 col-xl-4 valor-container">
            <div class="valor">
              <img src="assets/images/valores/disenno.PNG">
            </div>
            <h2>EQUIPO</h2>
            <h3>DISENNO</h3>
            <p>Nos preocupamos por llevar a cabo un diseño completo, que pueda sacarle el maximo provecho a los elementos junto con un sentido estetico</p>
          </div>
          <div class="col-12 col-md-4 col-lg-4 col-xl-4 valor-container">
            <div class="valor">
              <img src="assets/images/valores/equipo.PNG">
            </div>
            <h2>EQUIPO</h2>
            <h3>FABRICANTES</h3>
            <p>Nos preocupamos por que el trabajo realizado sea pulcro y confeccionado con la mayor profesionalidad, por lo que contamos con fabricantes expertos para ello</p>
          </div>

        </div>
    </div>
</section>
