<section class="footer_wrap" id="footer-wrap">
    <div class="container">
        <div class="row">


            <div class="col-3 info">
              <div class="container">
                <h4 style="font-weight: bold;font-size:1.4em;">ALMUT</h4>
                <h4><i class="fas fa-phone-alt"></i> +56976140638</h4>
                <h4><i class="fas fa-envelope"></i> contacto@Almut.cl </h4>
                <h4><i class="fas fa-location-arrow"></i> Ubicacion, Santiago</h4>
              </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class=" o-hidden text-left">



                    <div class="">
                        <nav>
                          <a href="#carrousel"><li>INICIO</li></a>
                          <a href="#proyectos-wrap"><li>PROYECTOS</li></a>
                          <a href="#team-wrap"><li>NOSOTROS</li></a>
                          <a href="#contacts-wrap"><li>CONTACTO</li></a>
                          <li>TIENDA</li>
                        </nav>
                    </div>


                </div>
            </div>
            <!-- end of col -->
            <div class="col-6">
              <div class="logo">
                <img id="logo" src="assets/images/almut-logo-negro.png" alt="logo">
              </div>
              <div class="doneBy">
                <h4>Una experiencia web de </h4>
                <img src="assets/images/sinexion.png">
              </div>
            </div>
        </div>
    </div>
</section>
