<section class="footer_wrap" id="footer-wrap">
    <div class="container">
      <img src="assets/images/disenno.png">
        <div class="row">
          <div class="col-2">
            <img class="logo" src="assets/images/logoLetras.png">
          </div>
          <div class="col-2 contacto">
            <p>cine.fera@gmail.com</p>
            <p>+569 8655 0178</p>
            <p>+569 8655 0178</p>
          </div>
          <div class="col-5">
          </div>
          <div class="col-3">
          </div>
        </div>
    </div>
</section>
