<section class="footer_wrap" id="footer-wrap">
    <div class="container">
        <div class="row">
          <div class="col-4 col-md-2 col-lg-2">
            <a [routerLink]="['/']"><img class="logo" src="assets/images/logoLetras.png"></a>
            <p>© Fera, 2020</p>
          </div>
          <div class="col-4 col-md-2 col-lg-2 contacto">
            <p>cine.fera@gmail.com</p>
            <p>+56 9 8527 1126</p>
            <p>+569 8655 0178</p>
          </div>
          <div class="col-4 col-md-3 col-lg-3 social">
            <a target="_blank" href="https://www.facebook.com/Fera-628773827745311"><img src="assets/images/facebook.png"></a>
            <a target="_blank" href="https://instagram.com/fera.cine"><img src="assets/images/instagram.PNG"></a>
            <a target="_blank" href="https://vimeo.com/user73673432"><img src="assets/images/vimeo.PNG"></a>
          </div>
        </div>
    </div>
</section>
