<section id="features-wrap" class="features_wrap p-t-b-80">
    <div class="container">
        <div class="row">


            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">Nuestro sello</h2>
                <p>Nos preocupa mantener un trabajo de calidad, con la mayor transparencia posible, y un desarrollo profesional, por lo que siempre vamos a brindarte: </p>

            </div>
            <ul>
              <li> Conversacion transparente sobre los requisitos del desarollo </li>
              <li> Propuesta en base a los requerimientos, con costos transparentes </li>
              <li> Seguimiento del desarrollo por etapas definidas en la propuesta </li>
              <li> Flexibilidad y soporte profesional ante requerimientos planteados en la marcha </li>
              <li> Un desarrollo unico y optimizado segun tus necesidades </li>
              <li> La mejor actitud de nuestro equipo para realizar tus ideas </li>
            </ul>
            <!-- end of col-6 -->
            <div class="col-md-6 col-lg-5 col-sm-12 offset-lg-1 d-flex align-items-center">

                <img src="./assets/images/landing/svg/features2.svg" class="img-responsive w-100" alt="">

            </div>

        </div>
    </div>
</section>
