#contacts-wrap{
  background-color: #f1bc32 !important;
}

.form-submit-button{
  background: #195267 !important;
  color: white;
  opacity: 1 !important;
}

i{
  margin-right: 1em;
}

.right-contact-wrap{
  h3{
    border-bottom: 1px solid black;
    width: 6em;
    padding-bottom: 0.25em;
  }
}
