#contacts-wrap{
  background-color: rgba(0,51,161,1) !important;
  color: white !important;
}

.form-submit-button{
  background: white !important;
  color: black;
  opacity: 1 !important;
}

i{
  margin-right: 1em;
}

h1,h2,h3,h4,p,a{
  color: white !important;
}
.right-contact-wrap{
  h3{
    border-bottom: 1px solid black;
    width: 6em;
    padding-bottom: 0.25em;
  }
}
