.intermedio-wrap{
  text-align: center;
  font-weight: 200;
  font-style: italic;
  h2{
    font-size: 2em;
  }
  .marker{
    background: #f1bc32;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
  }
  margin-top: 1em;
  margin-bottom: 5em;
  .autor{
    opacity: 0.8;
    font-style: italic;
  }
}

@media (max-width: 600px) {
  .intermedio-wrap{
    font-size: 0.7em !important;
  }
}
