<div class="product-detail-wrap">
  <div class="container-fluid">
    <div class="row">

      <div *ngIf="producto"     id="product-img" class="col-6">
        <div class="img-container">
          <img src={{producto.img}}>
        </div>
      </div>

      <div *ngIf="producto" id="product-overview" class="col-6">
        <h2>{{producto.name}}</h2>
        <h4> Precio por empaque (8 un.) </h4>
        <h1>TODO ICONOS</h1>
        <h5>HARINA DE TRIGO | 230 KCAL x UN.</h5>
        <div class="controls">
          <div class="row counter">
            <div class="col-4" style="display:flex;justify-content:flex-end;">
              <i style="margin-top:auto;margin-bottom:auto;" (click)="moveCounter(-1)" class="fas fa-minus-circle"></i>
            </div>
            <div class="col-4" style="text-align:center">
              <input (change)="changeValue($event)" value={{counter}} ([ngModel]) = "counter">
            </div>
            <div class="col-4" style="display:flex;justify-content:flex-start;">
              <i style="margin-top:auto;margin-bottom:auto;" class="fas fa-plus-circle" (click)="moveCounter(1)"></i>
            </div>
          </div>
        </div>
        <button (click)="addToCarrito(producto,counter)" class="btn">Agregar al pedido</button>
      </div>

      <div id="product-description" class="col-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <div id="product-ingredientes" class="col-4">
      </div>

      <div id="relleno" class="col-8">
      </div>

    </div>
  </div>
</div>
