<section id="proyectos-wrap" class="proyectos-wrap">
  <div class="container">
    <div class="row" style="width:100%;">
      <div id="almut" class="col-12">
        <h2 class= "mozart" >ALMUT</h2>
        <h2 class = "bach" style="float:left;">Creamos, diseñamos y fabricamos espacios del mas alto nivel</h2>
        <p>Somos un equipo de expertos en fabricacion de mobiliario, diseño de espacios, sistemas electricos y mas. Lo que nos permite asesorarte de la mejor manera en la creacion y realizacion de tus ideas</p>
      </div>
    </div>
  </div>
  <app-productos-preview></app-productos-preview>

  <div class="container" id="container">
    <h1 class="tiyyy">PROYECTOS</h1>
    <div class="visor" id="visor">
      <div class="row">
        <div id="big-picture" class="col-4">
          <div class="images-container" (click)="selectProyecto()" [ngStyle]="getBg()">
            <div class="play">
              <h1>{{selected}}</h1>
              <button class="btn">VER MAS</button>
            </div>
          </div>
        </div>
        <div id="menu" class="col-2">
          <nav class="lista">
            <ul>
              <li *ngFor="let proyecto of proyectos" (click)="select(proyecto)" [ngStyle] = " selected == proyecto ? { background:'black', color : 'white', 'font-weight' : '800' } : {}">{{proyecto}}</li>
            </ul>
          </nav>
        </div>
        <div class="col-6">
          <div class="grid">
            <div class="up">
              <app-mozaico [proyecto]="datos[selected]"></app-mozaico>
            </div>
            <div class="down">
              <h1 style="text-align:left;margin-bottom:0.25em;">{{selected}}</h1>
              <h3 style="padding-bottom:0.4em;border-bottom:1px solid black;">Ubicacion, Santiago</h3>
              <ul style="list-style-type: circle">
                <li *ngFor="let obra of datos[selected].obras;let i = index" [ngClass]="i<4 ? 'display' : 'no-display'" class="obra ">{{obra}}</li>
              </ul>
              <button class="btn" (click)="volver()">VOLVER</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-etapas *ngIf="false"></app-etapas>
  </div>
</section>
