<section id="intro-wrap" class="intro-four-Wrap  text-left text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 intro-four-LeftSection pb-5">
                  <h1 class=" font-weight-bold text-white text-42 mb-3 t-shadow">Desarrollo web a tu medida</h1>
                <p class=" text-20 mb-4">Somos creadores de experiencias digitales con ganas de darle vida a tus ideas</p>

            </div>
            <div class="col-md-6  intro-four-RightSection d-flex align-items-center">

                <div class="intro-four-ProductImage">

                    <img src="./assets/images/landing/svg/v4-header3.svg" class="img-responsive" alt=""
                        class="img-responsive" alt=""
                        [@animate]="{value:'*',params:{x:'200px',opacity:'0',delay:'100ms', duration: '500ms'}}">
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">

    </div>

</section>
