#works-wrap{
  background-image: URL("assets/images/KROOSBAR.jpg") !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  color: white !important;
  h2{
    color: white !important;
  }
}
.container{
  height: 600px;
}
